
lib/SCA/L2SCA/tsurgeon.sh
lib/SCA/L2SCA/tregex.sh
lib/SCA/L2SCA/test.parsed
lib/SCA/L2SCA/stanford-tregex.jar
lib/SCA/L2SCA/stanford-tregex-3.3.1.jar
lib/SCA/L2SCA/stanford-tregex-3.3.1-sources.jar
lib/SCA/L2SCA/stanford-tregex-3.3.1-javadoc.jar
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/StanfordDependenciesManual.pdf
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/stanford-parser.jar
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/stanford-parser-3.3.1-sources.jar
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/stanford-parser-3.3.1-models.jar
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/stanford-parser-3.3.1-javadoc.jar
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/README_dependencies.txt
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/README.txt
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/pom.xml
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/ParserDemo2.java
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/ParserDemo.java
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/Makefile
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/LICENSE.txt
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/lexparser_lang.def
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/lexparser.sh
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/lexparser.bat
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/lexparser-lang.sh
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/lexparser-lang-train-test.sh
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/lexparser-gui.sh
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/lexparser-gui.command
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/lexparser-gui.bat
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/ejml-0.23.jar
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/ejml-0.23-src.zip
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/data/testsent.txt
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/data/pos-sentences.txt
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/data/german-onesent.txt
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/data/french-onesent.txt
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/data/english-onesent.txt
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/data/chinese-onesent-utf8.txt
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/data/chinese-onesent-unseg-utf8.txt
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/data/chinese-onesent-unseg-gb18030.txt
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/data/chinese-onesent-gb18030.txt
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/data/arabic-onesent-utf8.txt
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/conf/ftb-latest.conf
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/conf/atb-latest.conf
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/build.xml
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/bin/run-tb-preproc
lib/SCA/L2SCA/stanford-parser-full-2014-01-04/bin/makeSerialized.csh
lib/SCA/L2SCA/Semgrex.ppt
lib/SCA/L2SCA/SCA_tmp_output.txt
lib/SCA/L2SCA/SCA_tmp_file.txt.parsed
lib/SCA/L2SCA/SCA_tmp_file.txt
lib/SCA/L2SCA/samples/samples_output
lib/SCA/L2SCA/samples/sample2_testing
lib/SCA/L2SCA/samples/sample2.txt
lib/SCA/L2SCA/samples/sample1_testing
lib/SCA/L2SCA/samples/sample1_output
lib/SCA/L2SCA/samples/sample1.txt
lib/SCA/L2SCA/sample_output.txt
lib/SCA/L2SCA/sample_file.txt
lib/SCA/L2SCA/run-tregex-gui.command
lib/SCA/L2SCA/run-tregex-gui.bat
lib/SCA/L2SCA/README-tsurgeon.txt
lib/SCA/L2SCA/README-tregex.txt
lib/SCA/L2SCA/README-L2SCA.txt
lib/SCA/L2SCA/README-gui.txt
lib/SCA/L2SCA/Makefile
lib/SCA/L2SCA/LICENSE.txt
lib/SCA/L2SCA/lib/README-AppleJavaExtensions.txt
lib/SCA/L2SCA/lib/AppleJavaExtensions.jar
lib/SCA/L2SCA/lib/ABOUT-AppleJavaExtensions.txt
lib/SCA/L2SCA/examples/renameVerb
lib/SCA/L2SCA/examples/relabelWithGroupName
lib/SCA/L2SCA/examples/exciseNP
lib/SCA/L2SCA/examples/atree
lib/SCA/L2SCA/build.xml
lib/SCA/L2SCA/analyzeText.pyc
lib/SCA/L2SCA/analyzeText.py
lib/SCA/L2SCA/analyzeFolder.py
lib/SCA/L2SCA/__pycache__/analyzeText.cpython-38.pyc
lib/SCA/L2SCA/__pycache__/__init__.cpython-38.pyc
lib/SCA/L2SCA/__init__.pyc
lib/SCA/L2SCA/__init__.py
lib/SCA/__pycache__/__init__.cpython-38.pyc
lib/SCA/__init__.pyc
lib/SCA/__init__.py
lib/__pycache__/__init__.cpython-38.pyc
lib/__init__.pyc
lib/__init__.py
